html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  margin: 1.5rem;
}

.image {
  display: inline-block;
  max-width: 25em;
  width: 25em;
}

.image img {
  text-align: center;
  max-width: 25em;
}

.info {
  display: inline-block;
  max-width: 25em;
  width: 25em;
  padding: 1em;
}

h2 {
  color: #333;
  font-weight: bold;
}

p {
  color: #333;
  font-weight: normal;
  max-width: 25em;
}

.btn a {
  text-decoration: none;
  background-color: #eee9de;
  border-style: solid;
  border-color: #666;
  border-radius: 6px;
  color: #666;
  padding: .4em .75em .5em;
}

.btn a:hover {
  color: #eee9de;
  background-color: #666;
}
