html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Lato, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  background-color: #eee9de;
  text-align: center;
  padding: 2em 0;
}

.image {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  vertical-align: middle;
}

img {
  width: 100%;
  display: block;
}

.info {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  vertical-align: middle;
  text-align: left;
}

h2 {
  color: #333;
  font-weight: bold;
  margin: 0 0 1.5rem;
}

p {
  color: #333;
  font-weight: normal;
  text-align: left;
  margin: 0 0 1.5rem;
}

.btn {
  text-decoration: none;
  background-color: #eee9de;
  border-style: solid;
  border-color: #666;
  border-radius: 6px;
  color: #666;
  padding: .4em .75em .5em;
  text-align: center;
  font-size: 1rem;
  display: inline-block;
}

.btn:hover {
  color: #eee9de;
  background-color: #666;
}
