html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
}

.img {
  display: inline-block;
}

.info {
  display: inline-block;
}

h1 {
  color: #333;
}

p {
  color: #333;
}
